# Copy this file to `.env` and fill in the value, then restart: npx expo start -c
# Must be the SAME URL as the CMS server's BETTER_AUTH_URL (reachable from your phone —
# use your PC's LAN IP or a tunnel in dev, not localhost).
# LOCAL DEV ONLY — .env is never uploaded to EAS (.easignore). Store/preview builds get
# https://login.cobaltlicenseesolutions.com.au from eas.json (build.<profile>.env).
EXPO_PUBLIC_API_BASE_URL=https://your-cms-url.example.com
